<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div class="ion-text-center ion-margin-top ion-margin-bottom">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light">
          ลงทะเบียนเข้าใช้งาน
        </ion-text>
      </h4>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form" (ngSubmit)="checkRegister(onRegisterForm.value)">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          ชื่อ-สกุล
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="fullname"></ion-input>
      </ion-item>
      <p ion-text class="text08  ion-margin-start" *ngIf="onRegisterForm.get('fullname').touched && onRegisterForm.get('fullname').hasError('required')">
        <ion-text color="warning">
          จำเป็นต้องกรอก
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          ชื่อผู้ใช้ (Username)
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08  ion-margin-start" *ngIf="onRegisterForm.get('username').touched && onRegisterForm.get('username').hasError('required')">
        <ion-text color="warning">
          จำเป็นต้องกรอก
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed" item-start></ion-icon>
          รหัสผ่าน
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08  ion-margin-start" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
        <ion-text color="warning">
          จำเป็นต้องกรอก
        </ion-text>
      </p>
      <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="dark" [disabled]="!onRegisterForm.valid"
      tappable>
      <ion-icon name="log-in"></ion-icon>
      ลงทะเบียน
    </ion-button>
    </form>

    <div class="ion-margin-top">
      <div class="ion-text-center ion-margin-top ion-margin-bottom">
        <ion-text color="light">
          หรือลงทะเบียนด้วย:
        </ion-text>
      </div>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon  slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top ion-margin-bottom">
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          ฉันมีบัญชีอยู่แล้ว
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>